@model IEnumerable<ProjektDotNet.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nytt spel</a>
</p>
<div class="table-responsive">
<table class="table">
    <caption>Lista på spel</caption>
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ImgName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.GameConsole)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.GameContent)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
            @if(item.ImgName != null)
            {
              <a href="img/@item.ImgName" target="_blank"><img src="img/thumb_@item.ImgName" alt="En bild på spelet"/></a>
            }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition.Condtition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameConsole.ConsoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.PublisherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameContent.Content)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editera</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
